<div class="region fullscreen below"><div class="container"></div></div>
	<div class="region top bar">
		<div class="container"></div>
		<div class="region top left">
      <div id="top_left" class="container">
      </div>
    </div>
		<div class="region top center">
      <div id="top_center" class="container"></div>
    </div>
		<div class="region top right">
      <div id="top_right" class="container"></div>
    </div>
	</div>
	<div class="region upper third">
    <div id="upper_third" class="container"></div>
  </div>
	<div class="region middle center">
    <div id="middle_center" class="container"></div>
  </div>
	<div class="region lower third">
    <div id="lower_third" class="container"><br/></div>
  </div>
	<div class="region bottom bar">
		<div id="bottom_bar" class="container"></div>
		<div class="region bottom left">
      <div id="bottom_left" class="container"></div>
    </div>
		<div class="region bottom center">
      <div id="bottom_center" class="container"></div>
    </div>
		<div class="region bottom right">
      <div id="bottom_right" class="container"></div>
    </div>
	</div>
	<div class="region fullscreen above">
    <div id="fullscreen" class="container"></div>
  </div>
